body{
    cursor: none;
}
#terminal {
    overflow: hidden;
    width: 100%;
    height: 100%;
    scrollbar-width: none;
}

#stdin {
    line-height: 1.227;
    font-size: 13px;   
    outline: 0;
    border: 0;
    background: transparent;
    color: rgb(15, 196, 227);
    scrollbar-width: none;
}

#stdout {
    text-align: left;
}

#prompt {
    display: inline-block;
}

p {
    margin: 0;
}

.stdout-green {
    color: rgb(125, 21, 255);
}

.stdout-white {
    color: rgb(225, 229, 234);

}

.stdout-off-white {
    color: rgb(179, 189, 203);
}

.stdout-red {
    text-align: center;
    height: 123px;
    color: rgb(204, 87, 93);
}

#canvas {
    transform-origin: 87px 153px;
    color: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    background: url('../img/bg2.jpg') no-repeat center fixed;
}

.canvas-wrap {
    overflow: hidden;
    height: 145%;
}

.canvas-wrap::-webkit-scrollbar {
    display: none;
}

div.canvas-content {
    overflow: hidden;
    z-index: 40;
    position: absolute;
    right: 5%;
    bottom: 0;
    left: 0%;
    margin: auto;
    font-size: 12px;
    color: rgb(225, 229, 234);
    height: 15%;
    width: 31%;
    padding-top: 0px;
    padding-bottom: 0px;
    top: 100.4px;
}